*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}


html,body{
    width: 100%;
    height: 100%;

}

#main{
    width: 100%;
    /* no height because the height cant be changed */
    background-color: black;
}

#landing_page{
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    position: relative;

}

#navbar{
    width: 100%;
    padding: 20px 40px  ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

#mousecircle{
    background-color: white;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    position: absolute;
    z-index: 99999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}





#navbar a{
    text-decoration: none; 
    /* removes the underline from the link */
    font-size: 18px;
    color: white;
}


#heading{
    margin-top: 40px;
    margin-left: 70px;
}

#heading h1{
    font-size: 9vw;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    opacity: 0.6;
    margin-left: 30px;
    line-height: 1;
}

#heading #secondh1 {
    margin-left: 230px;
}


.blocktext{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;


}

.blocktext h4{
    text-align: right;
    
}

#subheading{
    margin-top: 100px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#subheading h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
}

#footer_landingpage{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0 2vw;

}

#footer_landingpage a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;

}

#footer_landingpage .circle{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;


}

#iconset{
    display: flex;
    gap: 5px;
}


#secondpad{
    padding-top: 200px;
    padding-right: 10vw;
    padding-left: 3vw;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;


}
.element{
    position: relative;
    width: 100%;
    border-top: 1px solid #888 ;
    padding: 1vw 1vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px solid black;
}
/* .ri-infinity-fill{
    ;
} */


.element img{
    position: absolute;
    height: 100%;
    z-index: 999;
    display: none;

}

#about{
    color: white;
    gap: 20px;
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
}

#about img{
    width: 250px;
    height: 250px;
    padding-right: 30px;


}


#text{
    /* background-color: red; */
    width: 30rem;
}

#text h5{
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 12px ;

}

#text p{
    line-height: 1.2;
    margin-bottom: 30px;
}

#text a{
    border: 1px solid white;
    padding: 12px 22px;
    border-radius: 90px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#subscribe{
    background-color: black;
    color: white;
    padding: 20px 20px;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 10px;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 15px;
    
}

#leftfoot{
    display: flex;
    gap: 20px;
    font-size: 12px;

}

#rightfoot a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

#rightfoot{
    gap: 20px;
    display: flex;
}

#notice{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#notice h3{
    border: 1px solid white;
    padding: 12px;
    border-radius: 12px;
    

}


.bounding{
    width: fit-content;
    overflow: hidden;
    /* background-color: red; */
}

.bounding .boundingprg{
    transform: translateY(100%);

}